@media (max-height: 530px) {
	
	#interatividade .respostas {
    	bottom: 15px;
	}
}

@media (max-width: 768px){
	#atividade nav {
		width: 83%;
	}
}
@media (max-width: 520px){
	#atividade nav {
		width: 75%;
	}
	#atividade article p {
		font-size: 15px;
	}
	#atividade article small {
		font-size: 12px;
		padding-right: 10px;
	}
	#atividade article p{
		font-size: 14px;
		line-height: 22px;
	}
	#atividade article .viewport {
		padding: 5px 31px 0 40px;
	}
	#atividade .drag {
		font-size: 10px;
	}
	#atividade .reiniciar{
		bottom: 15px;
		right: calc(50% - 155px);
		width: 130px!important;
	} 
	
	#atividade .avancar{
		bottom: 15px;
		left: calc(50% - 155px);
		width: 130px!important;
	}
}
@media (max-width: 420px) {
	#intro #bloco2 .grafismo{
		transform: scale(.75);
	}
}
@media (max-width:320px){
	#atividade nav {
		width: 65%;
	}
	#escolhaFases .fase-title p {
		font-size: 18px;
		padding-top: 45px;
	}
	#escolhaFases blockquote {
		margin: -185px 0 0 -90px;
	}
	#atividade .reiniciar {
		right: calc(50% - 125px);
		width: 115px!important;
	}
	#atividade .avancar {
		left: calc(50% - 125px);
		width: 115px!important;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 568px) and (max-height: 414px) {

	#intro #bloco2 .grafismo{ transform: scale(.55); }

	#parabens article {
	    position: absolute;
	    top: 50%;
	    left: 10px;
	    bottom: 10px;
	    right: 10px;
	    height: 257px;
	    margin: -128.5px 0 0 0;
	}

	#parabens p {
	    vertical-align: middle;
	    font-family: 'museo500';
	    font-size: 17px;
	    color: #000;
	    margin-bottom: 8px;
	}

	#parabens p strong {
	    display: block;
	    font-family: 'museo900';
	    font-size: 29pt;
	    margin-bottom: 6px;
	    color: #4761AB;
	}
	#parabens img{
		width: 110px;
	}
	#parabens .reiniciar {
	    bottom: -7px;
	    left: 50%;
	    margin-left: -56px;
	}
	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 660px) and (max-width: 5000px) {

	#intro #bloco1 {
	    margin-top: -190px;
	    margin-left: -280.5px;
	}
	
	#intro #bloco2 {
	    position: absolute;
	    bottom: 50%;
	    left: 50%;
	    width: 320px;
	    height: auto;
	    margin-left: 23px;
	    transform: translateY(50%);
	}

	#parabens article{
		display: -webkit-box;
		position: absolute;
		width: 846px;
		top: 44%;
		left: 50%;
		bottom: 10px;
		right: 10px;
		height: 320px;
		vertical-align: middle;
		margin: -230px 0 0 -423px;
		padding-top: 90px;
	}
	#parabens p {
		vertical-align: middle;
		font-family: 'MPLUSRounded1c-Bold';
		font-size: 18px;
		color: #000;
		margin: 88px 50px 0 157px;
		width: 245px;
		height: 135px;
	}
	#escolhaFases blockquote {
		position: absolute !important;
		top: 50% !important;
		width: 540px !important;
		left: 50% !important;
		margin: -177px 0 0 -275px !important;
	}
	#escolhaFases blockquote.faseMaiorCinco {
		position: absolute !important;
		top: 50% !important;
		width: 540px !important;
		left: 50% !important;
		margin: -185px 0 0 -275px !important;
	}
	#escolhaFases [data-twocol=true] button{
		display: inline-block;
		margin-left:60px;
		margin-right:60px;
	}
	#escolhaFases button {
	    margin-bottom: 25px;
	}


	#interatividade .respostas {
		left: auto;
		margin-left: 0;
		right: 90px;
	}
	
 }

 @media (max-width: 659px) {
	
	.grafismo {
		height: 276px;
	}
	#intro #bloco1 {
		margin-top: -230px;
	}
	#intro #bloco2 {
		 width:290px;
		 bottom: 16px;
	}
	#intro #bloco2 p { 
		width: 242px;
	    font-size: 15px;
	    padding: 0 25px;
	    line-height: 18px;
	}
	#interatividade .respostas {
    	bottom: 0px;
	}
	
}
