@font-face {
	font-family: 'daxM';
	src: url('fonts/dax_medium.eot');
	src: url('fonts/dax_medium.ttf');
}
@font-face {
	font-family: 'museo500';
	src: url('fonts/museo500.eot');
	src: url('fonts/museo500.ttf');
}
@font-face {
	font-family: 'museo700';
	src: url('fonts/museo700.eot');
	src: url('fonts/museo700.ttf');
}
@font-face {
	font-family: 'museo900';
	src: url('fonts/museo900.eot');
	src: url('fonts/museo900.ttf');
}
@font-face {
  	font-family: 'MPLUSRounded1c-Bold';
 	src: url('fonts/MPLUSRounded1c-Bold.eot');
	src: url('fonts/MPLUSRounded1c-Bold.ttf');
}

.body{
	min-width: 260px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  background: #4d4d4d;
  border: 0px none #ffffff;
  border-radius: 0px;
}

button,
button:focus,
button:active{
	outline:none;
}

.btn-locucao {
	width: 37px;
	height: 36px;	
	position: absolute;
    border-radius: 11.5px;
    background: #DE6700;	      
    text-decoration: none;
    border-bottom: #773700 4px solid;
    text-align: center;
    padding: 2px 0px 2px 0px;
    display: block;
    top: 6px;
    right: 6px;
    z-index: 0;
}

.anterior, .proximo{
	width: 23px;
	height:33px;
	text-indent:-5000px;
	box-shadow:none;
	border: none; 
	position: absolute;
}
.anterior{
	background: url(img/btn_bronze.png) no-repeat 0 0;
	background-size: 56px;
}
.proximo{
	background: url(img/btn_bronze.png) no-repeat -35px 0px;
  background-size: 56px;
}

#atividade nav .anterior, #atividade nav .proximo {
    top: 28%;
    margin-top: -18px;
}

#interatividade{ background: #F8B16D; }

#interatividade #allAtv{
	position: absolute;
	width: auto;
	height: auto;
	left: 10px;
	right: 10px;
	top: 50px;
	bottom: 10px;
	overflow: hidden;
	margin: 0;
}

.botao{
	position: absolute;
	width: 150px;   
	border-radius: 10px;
	background: #DE6700;
	font-family: 'MPLUSRounded1c-Bold';
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	border-bottom: #773700 4px solid;
	text-align: center;
	padding: 2px 0px 2px 0px;
	text-transform: uppercase;    
    
}

#intro{
	position: absolute;
	width: 100%;
	height: 100%;
}
#intro{
	background: #F8B16D;
	background: -moz-linear-gradient(right, #F8B16D 1%, #FC4A1A 100%);
	background: -webkit-linear-gradient(right, #F8B16D 1%,#FC4A1A 100%);
	background: linear-gradient(to right, #F8B16D 1%,#FC4A1A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8B16D', endColorstr='#FC4A1A',GradientType=0 );
}

#intro #bloco1{
    width: 210px;
    height: auto;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -194px;
    margin-left: -121.5px;
    display: table;
    text-align: center;
}
#intro #bloco2 p{
	color:#000000;	
	font-family: 'MPLUSRounded1c-Bold';
	font-size: 18px;
	line-height:21px;
	text-align: center;
}

#intro .btn {    
    width: 130px;
    height: 36px;
    border-radius: 10px;
    background: #DE6700;
    font-family: 'MPLUSRounded1c-Bold';
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-bottom: #773700 4px solid;
    text-align: center;
    padding: 3px 0px 5px 0px;
    text-transform: uppercase;
    margin:20px auto 0 auto; 
    display: block;
}

#intro #bloco2{
	position: absolute;
	bottom: -15px;
	left: 50%;
	width: 303px;
	height: auto;
	margin-left: -147px;
}

#feedConfirma{ 
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	position: absolute;
}

#feedConfirma .botao{ position: absolute; display: block;}
#feedConfirma .sim{ right: 0; }

#feedConfirma article{
	position: absolute;
    width: 260px;
    height: 113px;
    left: 50%;
    top: 50%;
    margin: -65.5px 0 0 -130px;
}
#feedConfirma article p{
	padding: 17px;
	color: #fff;
	text-align: center;
	font-family: 'MPLUSRounded1c-Bold';
	font-size: 17px;
	margin-bottom: 20px;
	background: #DE6700;
}

#feedConfirma article p[data-tipo='forme']{ background: #EDAB47; }
#feedConfirma article p[data-tipo='quebradas']{ background: #F9A0A9; }

#parabens{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	margin: 0;
	left: 0;
	text-align: center;
	background: #F8B16D;	
}

#parabens[data-tipo='forme']{
	background: #5a81cb;
}
#parabens[data-tipo='quebradas']{
	background: #5a81cb;
}

#parabens article{
	position: absolute;
	top: 44%;
	left: 10px;
	bottom: 10px;
	right: 10px;
	width: auto;
	height: 400px;
	margin: -200px 0 0 0;
	display: block;
}

#parabens p{
	vertical-align: middle;
	font-family: 'MPLUSRounded1c-Bold';
	font-size: 16px;
	color: #000;
	margin-top: 24px;
	margin-bottom: 20px;
	max-height: 135px;
}
#parabens p strong{
	display: block;
	font-family: 'MPLUSRounded1c-Bold';
	font-size:40px;
	color: #4A2417;
}
#parabens p b{
	font-family: 'museo900';
	display: inline-block;
    margin-top: 9px;
}
#parabens[data-tipo='forme'] p strong{ color: #83C73B; }
#parabens[data-tipo='quebradas'] p strong{ color: #fff; }


#parabens img{ width: auto; }
#parabens article .reinit{
	bottom: 0;
    left: 50%;
    margin-left: -75px;
    position: absolute;
}


#escolhaFases{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #F8B16D;
	text-align: center;
	font-family: 'MPLUSRounded1c-Bold';
}

#escolhaFases .fase-title p{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 25px;
}

#escolhaFases .title-escolha {
	font-size: 16px;
	padding-bottom: 2px;
	display: inline-block;
	color: #000000;
	text-transform: uppercase;
	margin-top: 26px;
	margin-left: -20px;
}

#escolhaFases blockquote{
	position: absolute;
	top: 50%;
	width: 180px;
	left: 50%;
	margin: -162px 0 0 -90px;
	text-align: center;
}
#escolhaFases blockquote.faseMaiorCinco{
	position: absolute;
	top: 50%;
	width: 310px;
	left: 50%;
	margin: -165px 0 0 -149px;
	text-align: center;
}

#escolhaFases blockquote button{
	background: none;
	text-align: left;
	color: #fff ;
	width: 140px;
	height: 70px;
	margin: 0 auto;
	margin-bottom: 30px;
	display: block;
}

#escolhaFases blockquote button.faseMaiorCinco{
	background: none;
	text-align: left;
	color: #0a5361;
	width: 143px;
	height: 70px;
	margin: 0px 3px 0 6px;
	margin-bottom: 49px;
	display: inline-block;
	text-transform: uppercase;
}

#escolhaFases button p{
	font-size: 16px;
	font-family: 'MPLUSRounded1c-Bold';
	color: #000000;
	margin-top: -20px;
}

#escolhaFases button strong{
	font-size: 20px;
	padding-bottom: 2px;
	display: inline-block;
	color: #4C2618;
	text-transform: uppercase;
}

#escolhaFases button span{
	width: 38px;
	height: 50px;
	background: url(img/icones.png) no-repeat;
	margin-top: -91px;
	display: block;
	margin-left: 86px;
}

#escolhaFases button span[data-icon='vazio']{ background-position-x: 40px; }
#escolhaFases button span[data-icon='tick']{ background-position: 0 7px; }
#escolhaFases button span[data-icon='ouro']{ background-position-x: -55px; }
#escolhaFases button span[data-icon='prata']{ background-position-x: -109px; }
#escolhaFases button span[data-icon='bronze']{ background-position-x: -163px; }


#escolhaFases blockquote img{
	margin-left: -23px;
	padding-right: 7px;
	width: 16px;
}

#feedConfirma .botao {
	width: 120px;
	background: #FFFFFF;
	border-color: #B9B0B0;
	color: #773700;
}

#atividade{
	position: absolute;
	width: 100%;
	height: 100%;
}

#atividade .title-bar{
	text-align: center;
	padding: 15px;
}

#atividade .title-bar h1{
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
}

#atividade .title-bar p{
	font-weight: bold;
	font-family: 'MPLUSRounded1c-Bold';
}

#atividade article{
	width:100%;
	color:#000;
	height: calc(100% - 245px);
	position: relative;
}
#atividade article.esquerda{
	text-align:left;
}
#atividade article.centralizado{
	text-align:center;
}
#atividade article.direita{
	text-align:right;
}
#atividade article h2{
	font-weight: normal;
	font-size:19px;
	text-align: center;
	line-height:40px;
	width: 100%;
}
#atividade article p{
	font-family: 'MPLUSRounded1c-Bold';
	font-size:19px;
	line-height:35px;
	padding:10px 13px;
}
#atividade article p.recuo{
	text-indent:50px;
}
#atividade article small{
	display:block;
	font-family: 'myriad_semi';
	font-size:17px;
	margin:20px 0;
	width: 100%;
	text-align: right;
}
#atividade article small i{
	font-family: 'myriad_semi_it';
	font-style:normal;
}

#atividade article .viewport{
	overflow: hidden;
	padding: 5px 70px 0 55px;
	height: 100%;
}
#atividade article .overview { 
	width:100%;
	position: relative;
}
#atividade article .scrollbar{ 
	position: absolute;
	width: 16px;
	right: 10px;
	top: 0;
	bottom: 0;
}

#atividade article  .track {
	height:200px;  
	width:16px; 
	position: relative;
	background:#954224;
	border-radius:16px;
}
#atividade article .thumb { 
	width: 10px; 
	height:20px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left:3px; 
	background:#3E190C;
	border-radius:10px;
}

#atividade article p span{
	display: inline-block;
	background: #954224;
	border-radius: 5px;
	line-height: 29px;
	height: 29px;
	border-top: #3E190C 5px solid;
	padding: 0 15px;
	margin: 0 3px;
	position: relative;
	width: 130px;
	text-align: center;
	border-radius: 13px;
}
#atividade article p span.fill{
	background: transparent;
	border-color: transparent;
}
#atividade article p span b{
	color: transparent;
	font-weight: normal;
}
#atividade article p span .drag{
	position: absolute;
	top: -4px;
    left: 50%;
    margin: 0;
}
#atividade article p.recuo span .drag{
	text-indent: 0;
}

#atividade .drag{
	background: #ffffff;
	border-radius: 5px;
	line-height: 29px;
	height: 35px;
	border: none;
	border-bottom: #d2e4e7 6px solid;
	padding: 0 15px;
	margin: 5px 6px;
	font-size: 16px;
	color: #773700;
	width: 160px;
	border-radius: 14px;
	font-family: 'MPLUSRounded1c-Bold';
}
#atividade .drag[data-status=correct]{
	background-color: #44a953;
	border-color:#257631;
	color: #ffffff;
}
#atividade .drag[data-status=error]{
	background-color: #ba463b;
	border-color:#762c25;
	color: #ffffff;
}
#atividade .drag[data-status=solved]{
	background-color: #999999;
	border-color:#616161;
	color: #ffffff;
}

#atividade nav{
	width: 89%;
	height: 50px;
	background: #954224;
	border-radius: 5px;
	border-top: #3E190C 4px solid;
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
}
#atividade nav .viewport, #atividade nav .viewport .overview{
	width: 100%;
	height:50px;
	position: absolute;
	top:0px;
	left:0px;
	display:block;
}
#atividade nav .viewport{
	overflow:hidden;
}
#atividade nav .viewport .overview{
	line-height:50px;
}
#atividade nav .anterior, #atividade nav .proximo{
    top: 50%;
    margin-top: -18px;
}
#atividade nav .anterior{
	left: -40px;
}
#atividade nav .proximo{
	right: -40px;
}

#atividade nav .drag{
	float:left;
}
#atividade nav .drag[data-status=off]{
	background-color: #773700;
	border-color: #522803;
	color: transparent;
}
#atividade .lock{
	width: 800px;
    height: 61px;
    position: absolute;
    top: 474px;
    left: 0px;
}
#atividade .resposta{
	bottom: 15px;
	left:50%; 
	margin-left:-75px;
}

#atividade .reiniciar{
	bottom: 15px;
	right:calc(50% - 160px);
} 

#atividade .avancar{
	bottom: 15px;
	left: calc(50% - 160px);
}